#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.container-fluid {
  padding: 1.5% 15%;
}

.dowbuttons {
  padding-top: 20px;
  padding-bottom: 35px;
}

.indbutton {
  margin: auto 10px;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: light;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 80px;
  margin-bottom: 20px;
}

#features {
  margin: 50px 100px;
  background-color: white;
}

.feature-item {
  padding: 50px 70px;
  text-align: center;
}

.feature-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}

.fas {
  font-size: 50px;
  margin-bottom: 20px;
  color: #ff4c68;
}

.fas:hover {
  color: #FA8072;
}

.feature-para {
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.2;
}

#testimonials {
  background-color: #FA8072;
  /* padding: 7% 15%; */
  text-align: center;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #FA8072;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-inner {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  padding: 5% 12%;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
}

#footer {
  padding: 3% 10%;
  text-align: center;
  background-color: white;
  font-weight: lighter;
}

.footer-icons {
  color: grey;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.foo {
  margin: 0px 10px;
}
